@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/proximanova/ProximaNova-Semibold.eot');
    src: url('../fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proximanova/ProximaNova-Light.eot');
    src: url('../fonts/proximanova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/ProximaNova-Light.woff') format('woff'),
    url('../fonts/proximanova/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    } 
    
@mixin bold {
    font-family: 'Proxima Nova Semibold', sans-serif;
}



@mixin light {
    font-family: 'Proxima Nova Light', sans-serif;
}